#dropdownArrow {
  height: 5%;
  width: 50%;
}

.score {
  position: absolute;
  left: 41%;
  top: 27%;
  z-index: 1000;
  font-size: 40
}

#ringOne{
  position: absolute;

}

#ringTwo{
  position: absolute;
  
} 

.scrap {
  left: 7%;
  top: 20%;
  z-index: 900;

  height: 90%;
  width: 90%;


  left: 10%;
  top: 10%;
  z-index: 900;

  height: 80%;
  width: 80%;
}